*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
}
.photo img{
  width: 75vw;
  height: 99vh;
}
.login{
  width: 25vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
  
}
.logo{
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.logo img{
  width: 8vw;
  height: 6vh;
}
form{
  width: 100%;
  height: 27vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.logar{
  border: none;
  background-color: #e8e6e6;
  width: 20vw;
  height: 7vh;
  font-size: 1.7vh;
  font: #716E6E;
}
input::placeholder{
  position: relative;
  bottom: 25%;
  left: 5%;
  text-transform: capitalize;
}
nav{
  width: 90%;
  height: 7vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav img{
  width: 1.5vw;
  height: 1.8vh;
}

.facebook{
  background-color: #2051FF;
  width: 6vw;
  height: 4vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google{
  background-color: #8A0000;
  width: 6vw;
  height: 4vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apple{
  background-color: #000000;
  width: 6vw;
  height: 4vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check{
  width: 81%;
  margin: 0 auto;
}
input{
  border-radius: 3px;
  background-color: #D9D9D9;
}
label{
  position: relative;
  left: 1.2vw;
  bottom: 3vh;
}
.final{
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
button{
  width: 4vw;
  height: 7vh;
  border: none;
  border-radius: 10px;
  background-color:  rgba(255, 0, 46, 0.21);
}
button img{
  width: 3vw;
  height: 4vh;
}

